.right_bar{
    height: calc(100% - 56px);
    background-color: var(--layer3-bg-color);
    position: fixed;
    top: 56px;
    right: 0;
    width: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    direction: rtl;
}

#rightBar.open {
  width: 20%;
}
.right-bar-nav a {
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--text_muded_between);
  background-color: var(--layer2-bg-color);
  transition: background 0.2s;
  cursor: pointer;
}

.right-bar-nav a:hover {
  background-color: var(--layer3-bg-color);
}

.right-bar-nav input[type="number"] {
  padding: 12px 16px;
  border: 1px solid transparent;
  background-color: var(--layer2-bg-color);
  color: var(--text_muded_between);
  font-size: 1.1rem;
  outline: none;
  border-radius: 8px;
  transition: border 0.2s;
}

.right-bar-nav input[type="number"]:focus {
  border: 1px solid var(--boeder-blue-color);
}


.priceDisplay {
  margin-top: 10px;
  font-size: 14px;
  color: var(--text_muded_between);
}

.next {
  background-color: var(--boeder-blue-color);         /* Primary blue */
  color: var(--text);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.next:hover {

}


.oneBack {
  background-color: transparent;
  color: var(--text-muted);
  border: 2px solid var(--text-muted);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 20px;
}

.oneBack:hover {
  border-color: var(--boeder-blue-color);
}

