@import url('../index.css'); 

.tobbar_countainer{
  height:  59px;
  display: grid;

  padding: 0px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.niazImage{
  height: 36px;
  width: 70px;
  justify-self: end;
  margin-left: 15px;
  margin-bottom: -12.5px;
  cursor: pointer;
}

.user{
  appearance: none;
  font-size: 20px;
  padding: 10px 8px;
  display: none;
  width: 120px;
  line-height: 1.5;
}

.add_user,
.add_niaz {
  display: inline-block;  
  padding: 2px 12px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text_muded_between);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  margin: 0px 3px;
  background-color: var(--layer2-bg-color);
  transition: 0.3s;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.add_user{
  margin-left: 12px;
}

.add_user:hover,
.add_niaz:hover {
  border: 1px solid var(--boeder-blue-color);
}

.search-container {
position: relative;
display: grid; 
margin: 2px 2px;
max-width: 600px;
}

.serch_image_countaner{
  height: 38px;
  width: 35px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--layer1-importan-color);
  position: absolute;
  display: grid;
  margin-left: 1px;
  margin-top: 1px;
}

.search-icon {
  position: absolute;
  left: 29%;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  padding-right: 5px; 
  height: 18px;
  pointer-events: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.search-input {
  padding-left: 42px;
  height: 18px; 
  font-size: 16px; 
  padding-right: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: var(--layer2-bg-color);
  border-radius: 20px;
  border: 1px solid var(--layer1-importan-color);
  transition: 0.3s;
}

.search-input::placeholder {
  color: var(--text_muded_between);
}

.search-input:focus {
  outline: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid var(--boeder-blue-color);
}

.slideModeChanger{
  height: 40px;
  width: 80px;
  background-color: var(--layer2-bg-color);
  display: block;
  position: relative;
  border-radius: 200px;
  margin-left: 20px
}

.slideModeChanger_changer{
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: var(--text_muded_between);
  display: block;
  position: relative;
  border-radius: 200px;
}

.icon_sun{
  height: 25px;
  width: 25px;
  position: absolute;
  margin-top: 10px;
  margin-left: 53px;
}

.top_rightbar_countaner{
  display: grid;
grid-template-columns: 100px 44px;
    justify-content: end;
  align-items: end;
}

.city_but{
  display: inline-block;  
  padding: 2px 12px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text_muded_between);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  margin: 0px 3px;
  background-color: var(--layer2-bg-color);
  transition: 0.3s;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin-right: 14px;
}

.city_but:hover {
  border: 1px solid var(--boeder-blue-color);
}


.cityselected {
  flex-wrap: wrap;
  width: 200px;
  gap: 16px;
  padding: 12px;
  background: var(--layer2-bg-color);
  margin-top: 12px;
  border-radius: 8px;
  max-height: 70vh;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  right: 100px;
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cityselected.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.citylocotionchild {
  flex: 1 1 300px;
  background-color: var(--layer2-bg-color);
  padding: 12px;
  border: 1px solid var(--layer2-bg-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.citylocotionchild button {
  width: 100%;
  background-color: var(--boeder-blue-color);
  color: white;
  border: none;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.citylocotionchild button:hover {
  background-color: #0056b3;
}

.city-label {
  display: none;
  margin-bottom: 6px;
  cursor: pointer;
  padding-left: 4px;
  color: var(--text);
  text-align: end;
  grid-template-columns: 20px 1fr;
  transition: background-color 0.2s ease;
}

.city-label input[type="checkbox"] {
  transform: scale(1.1);
  cursor: pointer;
  margin-bottom: 50%;
  margin-top: 50%;
  transition: transform 0.2s ease;
  transition: visibility 0.3s, opacity 0.3s ease;

}

.hamburgurImage {
  height: 32px;
  justify-self: start;
  justify-content: end;
  align-items: end;
  margin-bottom: 6.3px;
  transition: all 0.2s ease;
}
