@import url('./index.css'); 



.gradient-border {
    margin-top: 10px;
    padding: 3px; /* thickness of border */
    border-radius: 12px;
    display: inline-block;
    width: calc(100% - 46px);
    height: 400px;
    margin-right: 20px;
    margin-left: 20px;
    transition: width 0.3s ease;
}

.gradient-border.open {
    width: calc(80% - 46px);
}

.content-box {
    background-color: var(--layer2-bg-color); /* match your dark theme */
    color: white;
    padding: 16px;
    border-radius: 10px;
}

.image_mainPage{
    width: 100%;
    height: auto;
    max-height: 400px;
}