.blur{
    position: fixed;
    display: grid;
    width: 100%;
    left: 0;
    top: 0px;
    height: 100%;
    backdrop-filter: var(--blur_color);
    background-color: var(--back_ground_blur);
    z-index: 999;
    display: none;
}

.blur.open{
    display: grid;
}

.exitButtonDiv{
    width: 20%;
    min-width: 180px;
    height: 0;
    position: relative;
    right: 0;
    position: absolute;
    display: flex;
}

.exitButtontext{
    position: absolute;
    top: 15px;
    left: -75px;
    background-color: var(--layer-3-bg-color);
    z-index: 1000;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    color: var(--text_muded_between);
    font-size: calc(var(--text-font-large)  + 5px);
    display: flex;
    align-items: center; 
    justify-content: center;
}

.Right_Bar_strucher{
    display: flex;
    width: 0px;
    height: 100%;
    flex-direction: column;
    
    position: absolute;
    top: 0px;
    right: 0;
    background-color: var(--layer-4-bg-color);
    z-index: 120;
    padding-left: 10px;
    padding-right: 2px;
    overflow-y: auto;
}

.Right_Bar_strucher.open{
    width: 20%;
    min-width: 180px;
}

.buttons {
    display: grid;
    background-color: var(--layer-3-bg-color);
    z-index: 140;
    display: block;
    width: calc(100% - 30px);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    color: var(--text_muded_between);
    font-weight: bold;
    font-size: var(--text-font-middle);
    text-align: end;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.buttons:first-child{
    margin-top: 30px;
}

.buttons:last-child{
    margin-bottom: 30px;
}

.buttons:hover img {
    rotate: 180deg;
}

.rightArrow{
    filter: var(--items-colors);
    width: 15px;
    height: 15px;
    position: absolute;
    rotate: 90deg;
    top: calc(50% - 7.5px);
    left: 15px;
    object-fit: cover;
    object-position: 100% top;
    transition: 0.2s;
}

.inputsDiv {
    margin-top: 10px;
}

.foldingDiv{
    position: relative;
    display: flex;
    z-index: 140;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    width: calc(100% - 30px);
    background-color: var(--layer-3-bg-color);
    padding: 10px;
    gap: 10px;
    transition: 0.4s;
    color: var(--text_muded_between);
    font-weight: bold;
    font-size: var(--text-font-middle);
    text-align: end;
    border-radius: 5px;
    max-height: 50px;
    padding-top: 45px;
    padding-bottom: 10px;
    overflow: auto;
}

.foldingDiv.open{
    max-height: 320px;
    padding-bottom: 13px;
}

.rightArrowRightBar{
  transition: transform 0.25s ease;
  filter: var(--items-colors);
  width: 16px;
  rotate: 90deg;
  position: absolute;
  left: 20px;
  transition: 0.4s;
}

.rightArrowRightBar.open{
  rotate: 270deg;
}

.ClickInputs{
    background-color: var(--layer-3-bg-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--text-font-middle);
    font-weight: bold;
     margin-bottom: 3px;
}

.ClickInputs.open{
    border-bottom: 1px solid var(--border-color);
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    height: 45px;
}

.ClickInputsText{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.InputDiv{
    position: relative;
}

.inputs {
    background-color: var(--layer-2-importan-color);
    width: calc(100% - 32px);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: var(--text_muded_between);
    font-weight: bold;
    font-size: var(--text-font-middle);
    text-align: end;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: text;
    border: 1px solid transparent;
    transition: 0.2s;
    outline: none;
    margin-top: 10px;
}

.inputs:focus {
    outline: none;
    border: 1px solid var(--text_muded_between);
}

.dropDownRightBar{
    background-color: var(--layer-2-importan-color);
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 32px);
    border-radius: 10px;
    color: var(--text_muded_between);
    font-weight: bold;
    font-size: var(--text-font-middle);
    text-align: end;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: text;
    border: 1px solid transparent;
    transition: 0.2s;
    outline: none;
    margin-top: 10px;
    cursor: default;
}

.dropDownTextRightBar{
    border-bottom: 1px solid var(--border-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.dropDownTextRightBar:hover{
    background-color: var(--layer12-importan-color);
}

.dropDownTextRightBar:last-child{
    border: none;
}

.applyButton{
    background-color: var(--boeder-blue-color);
    border: none;
    bottom: 10px;
    border-radius: 5px;
    margin-top: 3px;
    height: 32px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: var(--text-font-small);
    font-weight: bold;
    color: var(--text_muded_between);
}
